<%- include('../partials/dashboard/dashboard-header') %>
    <div style="width: 50%; margin: 20px auto;" class="text-center">

        <% if(msg){ %> <%- msg %>
                <% } %>
    </div>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Soal</th>
                    <th scope="col" style="text-align: right;">Tool</th>
                </tr>
            </thead>
            <tbody>
                <% quizzes.forEach((quiz, i)=> { %>

                    <tr>
                        <th scope="row">
                            <%= i+1 %>
                        </th>
                        <td>
                            <%= quiz.title %>
                        </td style="text-align: right;">
                        <% if( user.role==="guru" || user.isAdmin ){%>

                            <td><a href="/quiz/hasil/<%= quiz._id %>"><button class="btn btn-primary mx-2 ms-auto">Lihat
                                        Hasil</button></a><a href="/dashboard/hapus-quiz/<%= quiz._id %>"><button
                                        class="btn btn-danger ms-auto">Hapus</button></a></td>
                            <% }%>
                                <% if( user.role==="murid" || user.isAdmin ){%>

                                    <td style="text-align: right;"><a href="/quiz/analisa-hasil/<%= quiz._id %>"><button
                                                class="btn btn-primary mx-2">Analisa
                                                Hasil</button></a><a href="/quiz/<%= quiz._id %>"><button
                                                class="btn btn-success ">Kerjakan</button></a>
                                    </td>
                                    <% }%>
                    </tr>
                    <%})%>
            </tbody>
        </table>
    </div>
    <%- include('../partials/dashboard/dashboard-footer') %>