<%- include('../partials/dashboard/dashboard-header') %>
    <div style="width: 50%; margin: 20px auto;" class="text-center">

        <% if(msg){ %> <%- msg %>
                <% } %>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="2">Tanggal</th>
                <th scope="col">Tools</th>
            </tr>
        </thead>
        <tbody>
            <% if(list){ %>
                <% list.forEach(function(list){ %>
                    <tr>
                        <td colspan="2">
                            <%= list.nama %>
                        </td>
                        <td><button type="button" class="btn btn-danger"><a href="/admin/hapus-user/<%= list._id %>"
                                    style="color: #fff; margin:0; text-decoration: none;">Hapus</a></button></td>
                        <td><button type="button" class="btn btn-success"><a href="/admin/edit-user/<%= list._id %>"
                                    style="color: #fff; text-decoration: none;">Edit</a></td>
                    </tr>
                    <%})%>
                        <%}%>
        </tbody>
    </table>
    <%- include('../partials/dashboard/dashboard-footer') %>