<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/asset/img/eduai.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <section class="quiz-top-bar">
        <h3>Soal : <%= quiz.title %>
        </h3>
        <h3>Waktu : <%= quiz.waktuPengerjaan %>
        </h3>
    </section>
    <form action="/quiz/submit/<%= quiz._id %>" method="POST">
        <section class="quiz-main">
            <div class="container mx-auto">
                <div class="body-quiz">
                    <% quiz.quiz.forEach((soal, i)=> { %>
                        <h2 class="soal">
                            <%= i+1 %> : <%= soal.soal %>
                        </h2>
                        <ul class="pilihan">
                            <li class="jawaban">
                                <input class="form-check-input" type="radio" name="<%= soal.quizId %>" value="A"
                                    id="jawabanQuiz<%= i %>">
                                <label class="form-check-label">
                                    A : <%= soal.jawaban[0]["A"] %>
                                </label>
                            </li>
                            <li class="jawaban">
                                <input class="form-check-input" type="radio" name="<%= soal.quizId %>" value="B"
                                    id="jawabanQuiz<%= i %>">
                                <label class="form-check-label">
                                    B : <%= soal.jawaban[0]["B"] %>
                                </label>
                            </li>
                            <li class="jawaban">
                                <input class="form-check-input" type="radio" name="<%= soal.quizId %>" value="C"
                                    id="jawabanQuiz<%= i %>">
                                <label class="form-check-label">
                                    C : <%= soal.jawaban[0]["C"] %>
                                </label>

                            </li>
                            <li class="jawaban">
                                <input class="form-check-input" type="radio" name="<%= soal.quizId %>" value="D"
                                    id="jawabanQuiz<%= i %>">
                                <label class="form-check-label">
                                    D : <%= soal.jawaban[0]["D"] %>
                                </label>
                            </li>
                            <li class="jawaban">
                                <input class="form-check-input" type="radio" name="<%= soal.quizId %>" value="E"
                                    id="jawabanQuiz<%= i %>">
                                <label class="form-check-label">
                                    E : <%= soal.jawaban[0]["E"] %>
                                </label>
                            </li>
                        </ul>


                        <%}) %>
                            <button type="submit" class="btn btn-quiz btn-primary">Submit</button>



                </div>
            </div>
        </section>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>